<div class="container">
  <h3>イベント予約者一覧</h3>
  <table class="table">
    <thead>
        <tr>
          <th>参加者氏名</th>
          <th>メールアドレス</th>
          <th>参加ステータス</th>
        </tr>
    </thead>
    <tbody>
      <% @event.reservations.each do |r| %>
        <tr>
          <td><%= r.participant.nickname %></td>
          <td><%= r.participant.email %></td>
          <td><%= r.attendance_status %></td>
          <td><%= link_to "メールする", new_organizers_participant_info_path(r.participant.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>