<div class="container">
  <h3>イベント予約者一覧</h3>
  <table class="table">
    <thead>
        <tr>
          <th>参加者氏名</th>
          <th>メールアドレス</th>
          <th>会員の在籍状況</th>
          <th></th>
          <th></th>
        </tr>
    </thead>
    <tbody>
      <% @event.reservations.each do |r| %>
        <tr>
          <td><%= r.participant.nickname %></td>
          <td><%= r.participant.email %></td>
          <% if r.participant.is_deleted == false %>
            <td>在籍中</td>
          <% else %>
            <td>退会済</td>
          <% end %>
          <td><%= link_to "メールする", new_organizers_participant_info_path(r.participant.id) %></td>
          <td><%= link_to "予約を削除する", organizers_event_reservation_path(event_id: r.event_id, id: r.participant.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>