<div class="container">
  <h2>予約状況一覧</h2>
  <table class="table">
    <thead>
        <tr>
        <th></th>
        <th>イベント名</th>
        <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @event.reservations.each do |e| %>
        <tr>
            <td><%= e.participant.nickname %></td>
            <%#= link_to "イベント詳細", event_path(@event.reservation.id) %>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>