<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>ニックネーム</th>
            <th>電話番号</th>
            <th>メール</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @participants.each do |p| %>
            <tr>
              <td><%= p.id %></td>
              <td><%= link_to p.nickname, organizers_participant_path(p.id)%></td>
              <td><%= p.telephone_number %></td>
              <td><%= p.email %></td>
              <td>
                <% if p.is_deleted == true %>
                  退会済
                <% else %>
                  在籍中
                <% end %>
              </td>
            </tr>
          <% end %>
        <tbody>
    </table>
  </div>
</div>