<h3>下記の内容でメールを送信しますか？</h3>

<ol class="nav">
	<li>1.入力</li>
	<li class="current">2.確認</li>
	<li>3.完了</li>
</ol>

<dl>
	<dt>送信先メールアドレス</dt>
	<dd><%= @info.participant.email %></dd>
	<dt>メッセージ</dt>
	<dd><%= @info.message %></dd>
</dl>

<% form_with @info, url: organizers_infos_back_path, method: :post, local: true do |f| %>
	<% f.hidden_field :participant_id %>
	<% f.hidden_field :message %>
	<%= f.submit '入力画面に戻る' %>
<% end %>

<% form_with @info, url: organizers_infos_path, method: :post, local: true do |f| %>
	<% f.hidden_field :participant_id %>
	<% f.hidden_field :mesage %>
	<% f.submit '送信する' %>
<% end %>