<table>
  <% @event_comments.each do |e| %>
    <tr>
      <td><%= e.event.event_name %></td>
      <td><%= e.participant.nickname %></td>
      <td><%= e.comment %></td>
      <td><%= l e.created_at %></td>
    </tr>
  <% end %>
</table>