<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

   <h3><%= @participant.nickname %>様</h3>

　  <p>この度は、ご予約ありがとうございました。<br>
　    下記がイベントの詳細です。</p>

    <p><%= @info %></p>

    <p>今後とも 虫めがね村 をよろしくお願いいたします。</p>
  </body>
</html>