<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

　  <p>この度は、お問い合わせありがとうございました。<br>
　    以下でご質問の回答となっておりますでしょうか。</p>

    <p><%= @info %></p>

    <p>今後とも 虫めがね村 をよろしくお願いいたします。</p>
  </body>
</html>