<p>こんにちは <%= @resource.email %>さん!</p>

<p>パスワード再発行の依頼を受付ました。下記のリンクよりパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_participant_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は申し訳ございませんが、破棄してください。</p>

<p>====================================</p>
<p>知識をかくだい　虫めがね村</p>
<p>====================================</p>