/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

 header {
  background-color: rgb(116, 33, 8);
  height: 70px;
 }

 .nav-link-logo {
   height: 50px;
   width: 200px;
   margin-top: 10px;
 }

 .navbar-right {
   margin-left: 500px;
   margin-top: 10px;
 }

 .nav-item :hover{
   color: white;
 }

 .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: rgb(116, 33, 8);
}

 ul {
    list-style: none;
  }

  body {
    background-color: #f9faf9;
    font-family: 'Sawarabi Mincho', sans-serif;
    color: #0b0c0b;
  }

  .nav-link {
    color: white;
  }

// トップへ戻るボタン
.back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.back img {
  width: 50px;
}

//bootstrapボタンの色カスタマイズ

.btn-info {
  color: #fff;
  background-color: #50a59e;
  border-color: #0d3f5c;
}

.btn-info:hover {
  color: #fff;
  background-color:  rgb(64, 150, 172);
  border-color:  rgb(8, 73, 116);
}

.btn-danger {
  color: #fff;
  background-color: #c21a1a;
  border-color: #a5131a;
}

.btn-danger:hover {
  color: #fff;
  background-color:  rgb(204, 97, 65);
  border-color: rgb(116, 33, 8);
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color:  rgb(116, 33, 8);
}

.show-text {
  font-size: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width:1024px) {
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  header {
    background-color: rgb(116, 33, 8);
    height: 50px;
    width: 100%;
   }
  
   .nav-link-logo {
     height: 30px;
     width: 100px;
   }

  .navbar-right {
    display: none;
  }

  .nav-item :hover{
    color: white;
    display: none;
  }

  .nav-link {
    color: white;
    display: none;
  }

  #hamburger {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 50px;
    height: 44px;
    cursor: pointer;
    transition: 1s;
  }

  .inner_line {
    display: block;
    position: absolute;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    transition: 1s;
    border-radius: 4px;
  }

  #line1 {
    top: 0;
  }
  #line2 {
    top: 20px;
  }
  #line3 {
    bottom: 0px;
  }

  .fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    background-color:  rgb(116, 33, 8);
  }
}